<ul>
  <li>
    <h2>
    <a href="/<%= animal.id %>/edit">  
      <%= animal.name %>
    </a>  
    </h2> 
    <ul>
      <li>Type: <%= animal.type %></li>
      <li>Greeting: <%= animal.speak() %></li>
      <li>Report: <%= animal.vetReport %></li>
    </ul>
   </li>
</ul>